USE [Bahasa]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 23/03/2023 2:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Is_Staff] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 23/03/2023 2:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[PublisherID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Image_Link] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books_Categories]    Script Date: 23/03/2023 2:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books_Categories](
	[Book_CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Book_CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 23/03/2023 2:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[Description] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 23/03/2023 2:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Unit_Price] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 23/03/2023 2:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Total_Price] [decimal](12, 2) NULL,
	[OrderDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 23/03/2023 2:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[PublisherName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfos]    Script Date: 23/03/2023 2:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfos](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Phone] [nvarchar](100) NULL,
	[Adress] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [Email], [Is_Staff]) VALUES (1, N'duc', N'123', N'duc@gmail.com', 0)
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [Email], [Is_Staff]) VALUES (2, N'hai', N'123', N'hai@gmail.com', 1)
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [Email], [Is_Staff]) VALUES (3, N'huy', N'123', N'huy@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [Title], [PublisherID], [Price], [Quantity], [Image_Link]) VALUES (3, N'Thám Tử Lừng Danh Conan - Tập 1', 1, CAST(25000.00 AS Decimal(10, 2)), 22, N'images/book/conan/co1.jpg')
INSERT [dbo].[Books] ([BookID], [Title], [PublisherID], [Price], [Quantity], [Image_Link]) VALUES (4, N'Thám Tử Lừng Danh Conan - Tập 2', 1, CAST(25000.00 AS Decimal(10, 2)), 23, N'images/book/conan/co2.jpg')
INSERT [dbo].[Books] ([BookID], [Title], [PublisherID], [Price], [Quantity], [Image_Link]) VALUES (5, N'Thám Tử Lừng Danh Conan - Tập 3', 1, CAST(25000.00 AS Decimal(10, 2)), 23, N'images/book/conan/co3.jpg')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Books_Categories] ON 

INSERT [dbo].[Books_Categories] ([Book_CategoryID], [CategoryID], [BookID]) VALUES (324, 2, 3)
INSERT [dbo].[Books_Categories] ([Book_CategoryID], [CategoryID], [BookID]) VALUES (325, 1, 3)
INSERT [dbo].[Books_Categories] ([Book_CategoryID], [CategoryID], [BookID]) VALUES (326, 4, 3)
GO
SET IDENTITY_INSERT [dbo].[Books_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Trinh thám', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Hài hước', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Viễn tưởng', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [BookID], [Quantity], [Unit_Price]) VALUES (1, 1, 3, 3, CAST(25000.00 AS Decimal(8, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [BookID], [Quantity], [Unit_Price]) VALUES (2, 1, 3, 1, CAST(25000.00 AS Decimal(8, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [BookID], [Quantity], [Unit_Price]) VALUES (3, 1, 4, 3, CAST(25000.00 AS Decimal(8, 2)))
GO
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [AccountID], [Total_Price], [OrderDate], [Status]) VALUES (1, 5, CAST(4400000.00 AS Decimal(12, 2)), CAST(N'2023-01-01' AS Date), N'Đã hoàn thành')
INSERT [dbo].[Orders] ([OrderID], [AccountID], [Total_Price], [OrderDate], [Status]) VALUES (2, 5, CAST(2700000.00 AS Decimal(12, 2)), CAST(N'2023-01-12' AS Date), N'Đã hoàn thành')
INSERT [dbo].[Orders] ([OrderID], [AccountID], [Total_Price], [OrderDate], [Status]) VALUES (3, 5, CAST(3234000.00 AS Decimal(12, 2)), CAST(N'2023-01-19' AS Date), N'Đã hoàn thành')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([PublisherID], [PublisherName]) VALUES (1, N'Kim Đồng')
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName]) VALUES (2, N'Trẻ')
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName]) VALUES (3, N'IPM')
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[UserInfos] ON 

INSERT [dbo].[UserInfos] ([UserID], [AccountID], [Name], [Phone], [Adress]) VALUES (1, 1, N'Nguyễn Xuân Đức', N'0766268678', N' FPT HoLa')
INSERT [dbo].[UserInfos] ([UserID], [AccountID], [Name], [Phone], [Adress]) VALUES (2, 2, N'Đoàn Ngọc Hải', N'0987654321', N'Hà Đông')
INSERT [dbo].[UserInfos] ([UserID], [AccountID], [Name], [Phone], [Adress]) VALUES (3, 3, N'Nguyễn Thế Huy', N'0987654322', N'Ba Đình')
SET IDENTITY_INSERT [dbo].[UserInfos] OFF
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publishers] ([PublisherID])
GO
ALTER TABLE [dbo].[Books_Categories]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Books_Categories]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[UserInfos]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
